@use 'sass:list';
@import 'base';

li {
    list-style-type: none;
}

hr {
    width: 75%;
}

/* nav */
nav ul {
    display: flex;
    flex-flow: row wrap;
}

nav ul li a {
    color: $white;
    border-bottom: 5px solid transparent;
}

.nav-active, nav ul li a:hover {
    border-bottom: 5px solid $secondary;
    transition: border-bottom-color 0.3s ease-in;
}


/* links and buttons */

a, a:visited, a:hover {
    text-decoration: none;
    color: $white;
}

.title-link, .title-link:visited, .comment-link, .comment-link:visited {
    color: $text;
}

.title-link:hover, .comment-link:hover {
    color: $secondary;
}

header {
    background: $primary;
    height: 100px;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
}

.heading-wrapper {
    min-width: 375px;
}

.nav-link {
    color: $bg;
}

.nav-link:hover {
    color: $secondary;
}

// a, button {
//     transition: all 0.2s ease-in-out;
// }

.nav-button {
    background: none;
    border: none;
    font-size: inherit;
}

button:hover {
    cursor: pointer;
}

.smallest {
    border-radius: $smallestSpacer;
    padding: $smallestSpacer;
    margin: $smallestSpacer;
    font-size: 10px;
}

.small {
    border-radius: $smallSpacer;
    padding: $smallSpacer;
    margin: $smallSpacer;
}

.big {
    border-radius: $smallSpacer;
    padding: $bigSpacer;
    margin: $bigSpacer;
    font-size: 24px;
}

.border {
    color: $bg;
    border: 1px solid $secondary;
}

.solid-bg {
    background: $secondary;
    color: $bg;
}

.outline-bg {
    background: $bg;
    color: $secondary;
}

.btn {
    @extend .border;
    text-transform: uppercase;
    box-shadow: $box-shadow;
}

.btn-small {
    @extend .small;
}

.btn-smallest {
    @extend .smallest;
}

.btn-solid {
    @extend .solid-bg;
}

.btn-solid:hover {
    background: $tertiary;
}

.btn-line {
    @extend .outline-bg;
}

.btn-line:hover {
    background: $secondary;
    color: $bg;
}

.btn-list {
    display: flex;
    flex-flow: row wrap;
}

.input-btn-style {
    @extend .smallest;
    @extend .border;
    @extend .outline-bg;
}

.edit-link, .edit-link:visited {
    color: $bg;
}
                        
.back-link {
    color: $secondary;
}

.back-link:hover {
    color: $tertiary;
}

.edit-link {
    display: block;
    background: $secondary;
    width: 100%;
    margin: 0;
    box-shadow: none;
    border-radius: 0;
    text-align: center;
}

.no-posts {
    color: $primary;
}

.no-posts:hover {
    font-style: italic;
    text-decoration: underline;
}

/* posts */
.post {
    background: $bg;
}

.post-title {
    font-family: 'Averia Serif Libre', cursive;
    color: $secondary;
    font-weight: bold;
    font-size: 24px;
}

.post-list-item {
    width: 100%;
    border-bottom: 1px solid $secondary;
}

.post-list-item:last-child {
    border: none;
}

#post-body {
    height: 150px;
    width: 300px;
}

.meta {
    font-size: 12px;
    color: #828282;
}

.dashboard-post {
    border: 1px solid $secondary;
    width: 200px;
    height: max-content;
    display: inline-block;
}

.dashboard-posts {
    padding-left: $bigSpacer;
}

/* comments */

.comment:nth-child(2n) {
    background: #e3e3e3;
}

.comment .meta {
    color: $text;
}

#comment-body {
    height: 100px;
    width: 300px;
}

/* forms */

.form-container {
    margin: $bigSpacer auto;
    max-width: 475px;
}

.form-input-container {
    margin-bottom: $smallSpacer;
    // max-width: 45%;
}

.form-input {
    @extend .big;
    @extend .border;
    @extend .outline-bg;
}

textarea.form-input {
    min-width: 90% !important;
    min-height: 400px;
}

label {
    font-size: 12px;
    font-style: italic;
    color: $secondary;
}

.new-post-form {
    background: $bg;
    max-width: 800px;
}