@import 'base';

main {
    background: $bg;
}

.page {
    height: 100vh;
}

.hero {
    background: $primary;
    height: 300px;
}

.posts {
    // max-width: 1024px;
    max-width: 70%;
}

.container {
    padding: $bigSpacer;
}