@use 'sass:list';
@import 'base';

@for $i from 1 through 4 {
    h#{$i} {
        font-family: $font-heading;
        font-size: #{list.nth($font-sizes, $i)}px;
    }
}

p {
    color: $dark;
}

h1, h2, h4 {
    color: $white;
}

h2, h3 {
    padding: $bigSpacer;
}

h4 {
    font-style: italic;
}